<section class="order" id="order">
    <div class="container">
      <h2 id="order_title">Сделать заказ</h2>
      <form class="row g-3 " id="form">
        <div class="col-md-2">
          <label for="validationDefault01" class="form-label">Имя</label>
          <input type="text" class="form-control" id="validationDefault01">
        </div>
        <div class="col-md-2">
          <label for="validationDefault02" class="form-label">Фамилия</label>
          <input type="text" class="form-control" id="validationDefault02">
        </div>
        <div class="col-md-2">
          <label for="validation06" class="form-label">Телефон</label>
          <input type="text" class="form-control" id="validation06"
                 aria-describedby="inputGroupPrepend2">
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="validationDefault03" class="form-label">Страна</label>
            <input type="text" class="form-control" id="validationDefault03">
          </div>
          <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Индекс</label>
            <input type="text" class="form-control" id="validationDefault04">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="validationDefault05" class="form-label">Адрес</label>
            <input type="text" class="form-control" id="validationDefault05">
          </div>
        </div>
        <div class="col-12">
          <a class="btn btn-primary" type="button" id="send">Отправить</a>
        </div>
      </form>
    </div>
  </section>
