<section class="order d-flex justify-content-center" id="order">
  <div class="container text-center mt-5 pt-4 order-form">
    <h2 id="order_title" *ngIf="!orderSuccess">Сделать заказ</h2>
    <form *ngIf="!orderSuccess" class="row g-3 d-flex flex-column align-items-center" id="form" [formGroup]="signInForm" (ngSubmit)="createOrder()">

      <div class="col-md-6">
        <label for="product" class="form-label">Продукт</label>
        <input type="text" class="form-control" id="product" formControlName="product">
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="name" class="form-label">Имя</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Введите имя">
          <div class="w-100 mb-3" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <div class="text-danger">
              Имя введено неверно
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="surname" class="form-label">Фамилия</label>
          <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Введите фамилию">
          <div class="w-100 mb-3" *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
            <div class="text-danger">
              Фамилия введена неверно
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="phone" class="form-label">Телефон</label>
          <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="+7 (___) ___-__-__">
          <div class="w-100 mb-3" *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
            <div class="text-danger">
              Телефон введен неверно
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="country" class="form-label">Страна</label>
          <input type="text" class="form-control" id="country" formControlName="country" placeholder="Страна доставки">
          <div class="w-100 mb-3" *ngIf="country?.invalid && (country?.dirty || country?.touched)">
            <div class="text-danger">
              Страна введена неверно
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="zip" class="form-label">Индекс</label>
          <input type="text" class="form-control" id="zip" formControlName="zip" placeholder="123456">
          <div class="w-100 mb-3" *ngIf="zip?.invalid && (zip?.dirty || zip?.touched)">
            <div class="text-danger">
              Индекс введен неверно
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="address" class="form-label">Адрес</label>
          <input type="text" class="form-control" id="address" formControlName="address" placeholder="Улица, дом, квартира">
          <div class="w-100 mb-3" *ngIf="address?.invalid && (address?.dirty || address?.touched)">
            <div class="text-danger">
              Адрес введен неверно
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <label for="comment" class="form-label">Комментарий</label>
        <textarea class="form-control" id="comment" formControlName="comment" rows="3" placeholder="Дополнительная информация"></textarea>
      </div>

      <div class="col-12 mt-3">
        <button class="btn btn-primary" type="submit" id="send" [disabled]="signInForm.invalid || signInForm.disabled">Отправить</button>
      </div>
      <div *ngIf="orderError" class="text-danger mt-2">
        Произошла ошибка. Попробуйте еще раз.
      </div>
    </form>
    <div *ngIf="orderSuccess" class="text-success fs-4">
      Спасибо за заказ!
    </div>
  </div>
</section>


