<section class="main">
  <div class="container">
    <h1>Наши чайные коллекции</h1>
      <div class="row gy-4">
          <div class="card col-md-4 col-sm-6 mb-3" *ngFor="let product of products">
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description | cutTexts}}</p>
              <button class="btn btn-primary" (click)="navigateToCatalog(product.id)">Подробнее</button>
            </div>
          </div>
      </div>
  </div>
</section>
